{% extends 'store/base.html' %}

{% block content %}
<h2>Your Cart 🛒</h2>

{% if products %}
<div class="products">
    {% for product in products %}
        <div class="card">
            <img src="{{ product.image.url }}">

            <h3>{{ product.name }}</h3>
            <p>₹{{ product.price }}</p>

            <a href="{% url 'remove_from_cart' product.id %}" class="btn-danger">
                ❌ Remove
            </a>
        </div>
    {% endfor %}
</div>

{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
